/* Custom CSS to position the red dot */
.icon-wrapper {
  display: inline-block;
  position: relative;
}

.red-dot {
  position: absolute;
  top: 20px; 
  right: 135px; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.navigation {
  background-color: #076fb4;
}
.todo-list {
  background-color: #e1e1e1;
}
.Maintodolist-class {
  background-color: #E1E1E1;
}


.option {
  cursor: pointer;
  color: #707070;
}
.clicked {
  background-color:  #E1E1E1;
}

.custom-toggler .navbar-toggler-icon {
  color: white;
}
.mainbtn {
  bottom: 0;
  right: 0;
}
.grean-btn {
  background-color: #076fb4;
}
.card-body {
  color: #707070;
}

.text-area-both {
  background-color: #F6F6F6;
}
.ml-3 > .row {
  list-style: none;
}




/* Custom styles for the circular button */
/* Custom styles for the circular button */
.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-circle i {
  line-height: 1;
}


